scikit_lego==0.3.4
plotly==4.6.0
eli5==0.10.1
numpy==1.18.1
kaggle==1.5.6
yellowbrick==1.1
pandas==0.25.3
shap==0.35.0
plotly_express==0.4.1
catboost==0.22
missingno==0.4.2
mlflow==1.7.2
scikit_learn==0.22.2.post1
sklego==0.0
