catboost==0.22
joblib==0.14.1
numpy==1.18.1
plotly_express==0.4.1
category_encoders==2.1.0
pandas==0.25.3
missingno==0.4.2
kaggle==1.5.6
plotly==4.6.0
scikit_lego==0.4.1
yellowbrick==1.1
pytest==5.4.1
eli5==0.10.1
shap==0.35.0
imbalanced_learn==0.6.2
imblearn==0.0
mlflow==1.7.2
scikit_learn==0.22.2.post1
sklego==0.0
xgboost==1.0.2
sphinx==2.4.4
